<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
    <script src="./assets/js/vue.js"></script>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

    <br>
        <div class="container-fluid">
            <div id="app">
                <ul>
                    <li v-for="(item , index ) in lista">{{index}} - {{item}}</li>
                </ul>

                <br><hr><br>

                <table class="table table-light">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Curso</th>
                            <th>Descricao</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="(curso , index) in cursos">
                            <td>{{index}}</td>
                            <td>{{curso.nome}}</td>
                            <td>{{curso.descricao}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    <br>

    <script src="./assets/js/script.js" type="text/javascript"></script>
    <script src="./assets/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>